[2018-07-20 09:01] morganjwilliams opened #1 "Adding units will overwrite the ability to access a 'units' column with df.units"

[2018-07-23 01:57] morganjwilliams opened #2 "Units will not be properly handled with reindexing, as dtypes are."

[2018-07-23 01:58] morganjwilliams commented on #2
If set_units on a dataframe was implemented such that it altered attributes on individual series, this could work. Alternatively, see how dtypes are handled.

[2018-07-23 02:51] morganjwilliams opened #3 "pyrolite.plot: Biplots"

[2018-07-23 02:53] morganjwilliams opened #4 "pyrolite.plot: Ternary Plot Update"

[2018-07-23 02:54] morganjwilliams opened #5 "Add functionality for minerals"

[2018-07-23 02:57] morganjwilliams opened #6 "Reimplement EMCOMP"

[2018-07-23 03:57] morganjwilliams opened #7 "Density plots are inaccurate on ternary diagrams"
Using the python-ternary density plot functions, after reimplementing  the ternary heatmap coords function, results in data density mapped to the wrong location.

[2018-07-23 06:43] morganjwilliams opened #8 "Incorporate units functionality of pint"

[2018-07-30 07:07] morganjwilliams opened #9 "Update collection functions to return strings by default"

[2018-07-30 08:58] #9 closed

[2019-01-10 08:12] morganjwilliams commented on #5
92999f23ac48a00a8ddb00ad9469cf92c67dba75 adds much of this functionality.

[2019-01-10 08:13] morganjwilliams commented on #5
- [ ] Whole-rock normative calculations.

[2019-02-25 03:29] morganjwilliams opened #10 "Conditional density diagrams for `pyrolite.plot`: spiderplot/densityplot hybrid"
To best visualize large numbers of  grouped spiderplots, a conditional kernel density estimate - i.e. P(Y | X = x) - would be useful. Consider [statsmodels.KDEMultivariateConditional](https://www.statsmodels.org/stable/generated/statsmodels.nonparametric.kernel_density.KDEMultivariateConditional.html#statsmodels.nonparametric.kernel_density.KDEMultivariateConditional), or potentially develop simpl

[2019-03-13 02:51] morganjwilliams commented on #7
I've re-implemented how these ternary heatmaps are generated, using pcolormesh or histograms instead of the python-ternary interface.

[2019-03-13 02:51] #7 closed

[2019-03-13 03:58] lavender22 commented on #7
Out of curiosity, what happens when I reply to these emails?

*Louise Schoneveld*

On Wed, Mar 13, 2019 at 10:51 AM Morgan Williams <notifications@github.com>
wrote:

[2019-03-17 03:27] morganjwilliams commented on #6
Working version of EMCOMP is now included in pyrolite (2c04ec0ec3562e042422b633aedc3eb12d3dd79e, [see docs](https://pyrolite.readthedocs.io/en/develop/submoddoc/comp.html#pyrolite.comp.impute.EMCOMP)).

[2019-03-19 00:51] morganjwilliams commented on #6
The EMCOMP routine is currently unstable (trending towards inf, resulting in nonfinite covariance matrices).

[2019-03-23 08:41] morganjwilliams commented on #6
The current version of the algorithm is now stable. Potential enhancements may follow.

[2019-03-25 10:13] morganjwilliams commented on #10
Density options now available as of #83c444a935954b04169963157a295a9740c6087e. Still need to write up some examples and tests for this mode.

[2019-03-25 15:06] morganjwilliams commented on #10
Minimal examples now up at https://pyrolite.readthedocs.io/en/develop/usage/eg/plotting/conditionaldensity.html

[2019-04-02 00:04] #10 closed

[2019-04-09 05:58] morganjwilliams opened #11 "Add Lattice Strain Models"
Add functions for lattice strain models into pyrolite.mineral (fitting, potentially incorporating published models etc.).

## Relevant References
* Blundy J. and Wood B. (2003) Partitioning of trace elements between crystals and melts. Earth and Planetary Science Letters 210, 383–397.
* Blundy J. and Wood B. (1994) Prediction of crystal–melt partition coefficients from elastic moduli. Nature 372,

[2019-04-09 06:03] morganjwilliams opened #12 "Add Simple Melting and Fractionation Models"
Incorporate simple melting and fractionation models into pyrolite.geochem.magma.

These can later be extended with more complicated models.

## Relevant References
 * Shaw D. M. (1970) Trace element fractionation during anatexis. Geochimica et Cosmochimica Acta 34, 237–243.

[2019-04-12 04:35] morganjwilliams opened #13 "Add heatscatter function"
The density plots are useful summary visualizations for large datasets, while scatterplots are more precise and retain all spatial information (although they can get crowded). A scatter plot where individual points are colored by data density in some respects represents the best of both worlds. This could be implemented using a simpler version of the current implementation for pyrolite.plot.densit

[2019-04-12 04:39] morganjwilliams opened #14 "Add Smoothing Methods for pyrolite.plot.density"
Currently, pyrolite.plot.density provides either histogram methods (which are occasionally noisy) or evaluation of a kernel density estimate over a grid. The histogram methods could be improved by providing options for smoothing methods - either Gaussian or k-nearest neighbors (e.g. see https://stackoverflow.com/a/47350350).

[2019-05-01 02:18] morganjwilliams commented on #11
Added strain coefficient function in e38e23e121e67998b910e8f2ad7824601f46cfc7 and updated in cd9cdbee78c312907acf8bccc56969eda1557f62 under pyrolite.mineral.lattice.

[2019-05-01 02:43] morganjwilliams commented on #11
A small database of estimates for Young's modulii would be useful for applying this more generally.

[2019-05-21 02:39] morganjwilliams commented on #11
The Young's modulii approximation for silicates and oxides was added in f49030fb1f01f2ad7faab019a8e31e8c8516af4b

[2019-06-28 06:00] #11 closed

[2019-08-23 03:30] morganjwilliams opened #15 "pyroplot.ternary patch has the wrong aspect ratio"
**Describe the bug**
The aspect ratio for the white background patch beyond the ternary plots is larger than the ternary plot itself, and extends beyond the top of the overlaying ternary diagram.

**Expected behavior**
Background axes patch contained within the axes.

[2019-08-23 03:45] morganjwilliams commented on #15
Updated default aspect ratio for ternary_patch in util.plot with 195e16f8488a2b0c585ffc84441d8b0567bc1206

[2019-08-23 05:09] morganjwilliams commented on #15
Images within documentation now updated.

[2019-08-23 05:09] #15 closed

[2019-08-26 01:02] morganjwilliams opened #16 "Changelog"
The Changelog has been added, but needs to be populated with major changes in functionality, bugfixes and API changes.

[2019-08-28 01:05] morganjwilliams opened #17 "Docs Example: Timescale"
**Describe the bug**

The [timescale](https://pyrolite.readthedocs.io/en/develop/submoddoc/util.html#pyrolite-util-time) is not currently documented with any examples.

[2019-09-10 12:03] morganjwilliams opened #18 "pyrochem dataframe accessor"
Similar to the pyrolite.plot pyroplot dataframe accessor, a df.pyrochem accessor would provide a pandas-based API for common geochemical functions and indexes.

This would be particularly useful for both selections (e.g. subset with df.pyrochem.elements, df.pyrochem.oxides etc) and for transformations (e.g. df.pyrochem.convert_chemistry).

This would in effect replace the unofficial pandas-flavour

[2019-09-15 17:51] JustinGOSSES opened #19 "[FEATURE]"
**Is your feature request related to a problem?
Not related to a problem, just at an idea for visualization of geochem data in newer interactive way when many samples resent.

Please describe.**
Used Mars chem cam data in Houston data visualization meetup data jam a while back and ended up making a parallel sets visualization with interactive selection that I thought was interesting and different.

[2019-09-15 23:21] JustinGOSSES opened #20 "[BUG]"
**Describe the bug**
The link to "dimensionality reduction" on https://pyrolite.readthedocs.io/en/master/usage/eg/plotting/spider.html under the heading "see also" doesn't go anywhere.

**To Reproduce**
Steps to reproduce the behavior:
1. navigate to: https://pyrolite.readthedocs.io/en/master/usage/eg/plotting/spider.html
2. click on "Dimensional Reduction".
3. It takes you to this link which does

[2019-09-16 01:09] morganjwilliams commented on #20
Thanks for the bug report!

This is now fixed with 812652808d4819953b45cb4887837784cc3f8dee on develop (along with another outdated link on the same page, fixed with 17eb5006beaa0e8b8ed188586dec08eddecd3a8f), and the master version of the docs will be updated with the next release. Currently the default target for the docs is develop (to get more examples out and update API docs between releases),

[2019-09-16 01:09] #20 closed

[2019-09-16 01:39] morganjwilliams commented on #19
I do like these diagrams - it's a good way to quickly explore multivariate data. And nice job on the example repo!

I'll put together something using [pandas.plotting.parallel_coordinates](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.plotting.parallel_coordinates.html) (with a bit of customization to improve axes etc) and leverage the move towards linking in more pandas plotti

[2019-09-16 06:47] morganjwilliams commented on #19
I've added a static implementation of this which will be worth experimenting with on develop. Accompanied by a minimal example here: https://pyrolite.readthedocs.io/en/develop/usage/eg/plotting/parallel.html .

[2019-09-18 19:56] JustinGOSSES commented on #19
Oh, nice!

I assume the static nature is due to dependency on using matplolib then?

[2019-09-19 00:12] morganjwilliams commented on #19
In this case yes. Could easily build something for an interactive mode for use with e.g. Jupyter, but for now this means the API is consistent with everything else in pyrolite.plot. In the meantime I'll keep interactive plotting libraries on my radar - especially things like [hvplot](https://github.com/pyviz/hvplot) which could minimise API changes.

[2019-09-20 02:06] morganjwilliams commented on #16
I've begun populating the changelog from the top, and it's now been [added to the docs](https://pyrolite.readthedocs.io/en/develop/changelog.html).

[2019-09-23 10:43] morganjwilliams commented on #16
The changelog back to [the first Beta (0.1.0 in June 2018)](https://github.com/morganjwilliams/pyrolite/releases/tag/0.1.0) has now been finished with b8a849acfea5da5832514a432527a207257e94a8.

[2019-09-23 10:43] #16 closed

[2019-09-27 06:46] morganjwilliams opened #21 "Docs Example: Mineral Endmember Recalculation"
The [endmember recalculation example](https://pyrolite.readthedocs.io/en/develop/usage/eg/mineral/endmembers.html) has not yet been added.

[2019-09-27 06:47] morganjwilliams opened #22 "Docs Example: Mineral Formulae Recalculation"
The [mineral formulae recalculation example](https://pyrolite.readthedocs.io/en/develop/usage/eg/mineral/mineral.html) has not yet been added.

[2019-09-27 06:51] morganjwilliams opened #23 "Docs Example: Log Transforms"
The compositional log transform example page is currently empty.

Other pages mention and use log transforms, but this page should document and contrast at least the additive logratio, centred logratio and the isometric logratio. Additionally, highlighting the differences to other common approaches (e.g. Box-Cox transforms) would be useful.

[2019-09-27 07:01] morganjwilliams opened #24 "Docs Example: TAS Classifier Example is Outdated"
The current version of the TAS Classifier Example on the docs page is out of date, and needs to be updated to use [pyrolite.util.classification.Geochemistry.TAS](https://pyrolite.readthedocs.io/en/develop/submoddoc/util.html#pyrolite.util.classification.Geochemistry.TAS).

A python file to segment and use for this example can be found [here](https://github.com/morganjwilliams/pyrolite/blob/develop

[2019-10-01 08:48] morganjwilliams commented on #18
The [pyrolite.geochem.pyrochem dataframe accessor](https://pyrolite.readthedocs.io/en/develop/submodules.html#pyrolite.geochem.pyrochem) was expanded with f95c8c4d4084c676dafd9850d3e5ba5f15dcdbd4. This includes an interface to common index subsets (e.g. [df.pyrochem.elements](https://pyrolite.readthedocs.io/en/develop/submodules.html#pyrolite.geochem.pyrochem.elements), [df.pyrochem.oxides](https:

[2019-10-04 02:21] morganjwilliams commented on #13
The [pyrolite.plot.pyroplot.heatscatter](https://pyrolite.readthedocs.io/en/develop/submoddoc/plot.html#pyrolite.plot.pyroplot.heatscatter) method was added with 0833ae061cd2b6fa846f44dd3eb260546d0ba343.

[2019-10-04 02:22] #13 closed

[2019-10-11 01:48] morganjwilliams opened #25 "Add Docs Page: Debugging, Questions and Reporting"
The docs has pages for contributing and development, but for new users doesn't provide guidance for what to do when things don't work as expected. A new page with notes on debugging, frequently asked questions and a guide for reporting potential bugs might be useful in this case.

[2019-10-11 03:05] morganjwilliams commented on #25
I've added [a page for this on the develop version of the docs](https://pyrolite.readthedocs.io/en/develop/debugging.html), which is still a work in progress.

[2019-11-07 18:09] Antoine-Cate opened #26 "Additional Lithogeochemical plots [FEATURE]"
**Is your feature request related to a problem? Please describe.**
In addition to the TAS, other commonly used diagrams could be added.

**Describe the solution you'd like**
Using a template, the following diagrams could be added:
- Box Plot alteration plot (Large et al, 2001) and similar alteration plots using indexes
- Modified Wynchester and Floyd diagram (Barrett, T. J., and  MacLean, W. H., 1

[2019-11-07 23:30] morganjwilliams commented on #26
These would be some good additions to [pyrolite.plot.templates](https://pyrolite.readthedocs.io/en/develop/api/plot/templates.html), which currently hosts the TAS and Pearce diagrams.

I'll have a think about a good way to do this and keep all the metadata (axes variables, values, limits and descriptions of conditions for which the diagrams were intended to be applied - some are more restrictive!)

[2019-11-07 23:40] morganjwilliams commented on #26
The [Pearce diagrams](https://pyrolite.readthedocs.io/en/develop/_modules/pyrolite/plot/templates/pearce.html#pearceTiNbYb) are constructed from specified geometric components which preserve some of this information (i.e. line labels etc), but there are likely a much better ways to achieve this. It'd also be great to make this a bit more readable and approachable for python beginners.

[2019-11-07 23:57] morganjwilliams commented on #26
Another thing to keep in mind is that pyrolite will eventually move towards having multiple plotting backends (to leverage interactive plotting, likely largely through pandas-based interfaces to start with). This is part of the reason that the Pearce diagrams were constructed with the geometry decoupled from the plotting.

[2019-11-09 07:01] morganjwilliams commented on #25
I've expanded some of this to build a [Getting Started Guide](https://pyrolite.readthedocs.io/en/develop/gettingstarted.html).

[2019-11-09 07:02] morganjwilliams commented on #25
Any FAQ and common issues which we identify will also be linked in here.

[2019-11-09 07:02] #25 closed

[2019-11-09 07:03] morganjwilliams commented on #24
The TAS diagram and classifier examples have now been brought up to date.

[2019-11-09 07:03] #24 closed

[2019-11-09 07:03] morganjwilliams commented on #21
An example for mineral endmember recalculation (normative calculations) has now been added to the docs; more may be added in this space.

[2019-11-09 07:03] #21 closed

[2019-11-09 07:04] morganjwilliams commented on #18
These elements have now been completed, along with relevant test suites to parallel the non pandas-based equivalent functions.

[2019-11-09 07:04] #18 closed

[2019-11-10 03:03] morganjwilliams opened #27 "Spider Plot Index Memory"
**Is your feature request related to a problem? Please describe.**
Currently, spider plots do not take into account previous spider plots which may have been added to an axis. Repeated calls to [pyroplot.spider](https://pyrolite.readthedocs.io/en/develop/api/plot/pyroplot.html#pyrolite.plot.pyroplot.spider) or [pyrolite.plot.spider](https://pyrolite.readthedocs.io/en/develop/api/plot/spider.html#p

[2019-11-10 07:03] morganjwilliams opened #28 "Updating Ternary Plots to use mpltern"
The current implementation ternary plots is based on python-ternary, which has been sufficient for purpose while waiting for a native matplotlib implementation. [mpltern](https://github.com/yuzie007/mpltern) has recently been developed by @yuzie007 and provides the native interface solution I was after, and had begun drafting projections for (although it's better than I envisioned!).

pyrolite wil

[2019-11-13 07:22] morganjwilliams commented on #17
I've now added a timescale example [here](https://pyrolite.readthedocs.io/en/develop/examples/util/timescale.html). This could be refined in future to use the official color scheme for the ICS.

[2019-11-13 07:22] #17 closed

[2019-11-14 01:01] morganjwilliams commented on #17
This now largely incorporates the official timescale color schemes also.

[2020-01-10 06:51] morganjwilliams commented on #28
The required updates to use mpltern have now been completed, and will be released shortly with v0.2.4.

[2020-01-10 06:51] #28 closed

[2020-01-15 02:03] morganjwilliams opened #29 "pyrolite.geochem.pyrochem.convert_chemistry Performance Issue"
Repeated use of [pyrolite.geochem.pyrochem.convert_chemistry](https://pyrolite.readthedocs.io/en/develop/api/geochem/pyrochem.html#pyrolite.geochem.pyrochem.convert_chemistry) on a single dataframe results in unnecessary memory usage and performance issues.

Reimplementation of this function to reduce data duplication and improve garbage collection may ease this. Examining whether this is related

[2020-01-15 02:08] morganjwilliams opened #30 "Incompatible Element Index"
While the elemental and oxide indexes/selectors are practically useful for subsetting dataframes, indexes based on 'incompatibility' are often used for visualization and tabulation of geochemical data (especially for spiderplots). Being able to specify element ordering or access an 'incompatible element' selector would be a useful feature.

[2020-02-10 03:17] morganjwilliams opened #31 "Pandas-indexing depreciation related bug (v1.0)"
Since the recent release of `pandas` v1.0, new installations and current tests using the 'latest' version of pandas will break `pyrolite` tests with:

This is related to the depreciation of indexing with missing labels. As such we should be able to update instances where this functionality is needed to use `df.reindex()`.

Alternatively, we could restrict the required version of `pandas` to `<1.0`

[2020-02-11 01:01] morganjwilliams commented on #31
The aspects which were causing current tests to fail has been addressed, but there remain a number of scenarios where this applies. Other scenarios where this is relevant will be patched (especially within `pyrolite.geochem.transform`), and new tests will be developed to address indexing with missing values.

[2020-02-24 06:12] morganjwilliams opened #34 "pyrolite.geochem.transform.get_ratio: norm_to not implemented."
The function [`pyrolite.geochem.transform.get_ratio`](https://pyrolite.readthedocs.io/en/develop/api/geochem/transform.html#pyrolite.geochem.transform.get_ratio) accepts the keyword `norm_to` for getting normalised ratios, but this is not currently implemented.

Most of the required implementation is there, but it needs to be updated so the correct values will be returned (currently the normalized

[2020-02-24 21:12] kaarelmand opened #35 "Convenience features for REE geochemistry and plotting [FEATURE]"
**Is your feature request related to a problem? Please describe.**
While pyrolite is already a highly useful tool for working with REE data, some additional convenience features for common workflows in surface REE cycling would be really handy:

1. It is most common in my field to include yttrium together with REE, inserted between Dy and Ho per its ionic radius (e.g., [1]). The combination is ter

[2020-02-24 21:25] kaarelmand commented on #35
It just occurred to me that REY (suggestion no. 1) could be better implemented simply as a switch to `REE()` that inserts Y right after Dy.

[2020-02-25 01:17] morganjwilliams commented on #35
Thanks for the feature requests @kaarelmand!

For the Pm broken-lines issue, the simple solution is to discard it from the index/x-axis when building the plot, and I have a quick fix for this ready to go. While it may be a literature standard, the inclusion of Pm in the index/x-axis label for the [`pyrolite.plot.spider.REE_v_radii`](https://pyrolite.readthedocs.io/en/master/api/plot/spider.html#py

[2020-02-25 04:22] morganjwilliams opened #36 "Docs: Some examples include over-complicated synthetic data generation"
**Is your feature request related to a problem? Please describe.**
Currently there's a few examples with over-complicated synthetic data generation (e.g. [`spider`](https://pyrolite.readthedocs.io/en/master/examples/plotting/spider.html#sphx-glr-examples-plotting-spider-py), [`REE_v_radii`](https://pyrolite.readthedocs.io/en/master/examples/plotting/REE_v_radii.html), [`lambdas`](https://pyrolite.

[2020-02-25 16:42] kaarelmand commented on #35
Thanks for the thorough reply!

For the 1st and 2nd suggestions, I could certainly try my hand at submitting some PRs, though it would be my first official code contribution, so I might have some questions here or on gitter later, if you don't mind.

As for jumping the Pm gap, I agree that just skipping Pm usually works and if you can use the REE_vs_radii plot, the problem is already solved. I gue

[2020-02-26 01:40] morganjwilliams commented on #35
Feel free to ask anything related to the issues here, but general discussion or development questions might be better directed to Gitter. Happy to help out wherever needed!

I'll have a bit more of a think about it, but I think an `REY()` function could be less verbose (i.e. `df.pyrochem.REY()` over `df.pyrochem.REE(includeY=True)`. There might need to be some modifications of plotting functions t

[2020-03-04 01:09] morganjwilliams opened #38 "Reference Compositions Database Page"
**Is your feature request related to a problem? Please describe.**
The reference compositions available in `pyrolite` are listed at the bottom of the normalisation example, but are otherwise difficult to find.

**Describe the solution you'd like**
Ideally, the reference compositions would have a dedicated documentation page, including improved bibliographic info for these items so they're appropri

[2020-03-04 02:13] morganjwilliams commented on #36
The first part of this is addressed by cf0d6b8a80a66b6911a99a3c7d4538c41ce85896, adding `example_spider_data` to `pyrolite.util.synthetic`.

[2020-03-04 02:51] morganjwilliams commented on #36
Similarly, 6d138a3d1a3e76e9a16e0c892cde8c17d8b5e259 fixes the `REE_v_radii` example.

[2020-03-04 04:02] kaarelmand commented on #38
I can certainly try to help with this issue, at least for the shale references.

[2020-03-04 04:18] kaarelmand commented on #35
Meanwhile, I discovered [this hilarious paper](https://doi-org.login.ezproxy.library.ualberta.ca/10.1016/j.apgeochem.2018.01.008) (have a read of the abstract + graphical abstract for a good laugh), and feel that I should likely add this new European Shale as well.

And while I'm at it, I should round out my PR by adding some updated variants of PAAS, EUS, NASC, MUQ, more from Condie (1993) and ot

[2020-03-04 04:29] morganjwilliams commented on #35
It's ridiculous how similar they all are! Looks like we'll have to source some more hard rock reference compositions to keep up.

I'll keep an eye out and look to merge soon after you finish it up.

[2020-03-04 06:28] morganjwilliams commented on #38
@lavender22 - I'll leave this with you in the meantime. When the page is about ready to go maybe ping @kaarelmand for some shale info.

[2020-03-19 05:03] morganjwilliams opened #39 "pyrolite lambdas differ slightly from O'Neill (2016) paper."
**Describe the bug**
The orthogonal polynomial coefficients output by pyrolite's "lambdas" functions ([`pyrolite.geochem.pyrochem.lambda_lnREE` ](https://pyrolite.readthedocs.io/en/develop/api/geochem/pyrochem.html#pyrolite.geochem.pyrochem.lambda_lnREE) and associated functions in `pyrolite.geochem` and `pyrolite.util.math`) output slightly different results to the spreadsheet associated with the

[2020-04-06 06:04] morganjwilliams commented on #29
I've added [a feature branch to address this issue](https://github.com/morganjwilliams/pyrolite/tree/feature/convert_chemistry_revamp).

This seems to have stemmed from [`pyrolite.geochem.ind.simple_oxides`](https://pyrolite.readthedocs.io/en/master/api/geochem/ind.html#pyrolite.geochem.ind.simple_oxides), which is addressed in 18fede01d54d06edd3fe1451409880d889e7ee62.

[2020-04-09 02:43] morganjwilliams commented on #38
I've added a new branch to work on these pages ([docs-pyrolite.data](https://github.com/morganjwilliams/pyrolite/tree/feature/docs-pyrolite.data)), with a draft structure under `docs/data`.

[2020-04-21 02:02] morganjwilliams commented on #29
This has now been merged into develop.

[2020-04-21 02:02] #29 closed

[2020-04-24 07:25] morganjwilliams commented on #39
This discrepancy was likely largely due to the cost function which was minimized in the method used to fit the lambdas previously. I've updated the implementation to follow O'Neill (2016) more closely, with a modification to the original function (based on scipy.optimize.least_squares) as a backup for when singular matrices might pop up. After a bit of testing, these seem to vie give identical res

[2020-04-24 07:25] #39 closed

[2020-04-24 07:26] morganjwilliams commented on #36
I've now finished off the last lambdas portion of this issue with 7bb0818ddf4742e633de0cdfa96a56e513697f56, which condenses the lambdas examples into a single page and removes the data-generation overhead.

[2020-04-24 07:26] #36 closed

[2020-04-29 03:54] rbeucher commented on #31
Hi @morganjwilliams
I have encountered that bug while reviewing the Jupyter notebook: REE_V_radii.

[2020-04-29 04:16] morganjwilliams commented on #31
@rbeucher thanks for the heads up. I'll have a look at this shortly, Could you let me know if this for the master or develop version, and whether you are running this locally or via binder?

[2020-04-29 04:38] rbeucher commented on #31
I am running it locally in a virtual python 3.8 environment.
I am working on the master branch as I assume this is the one to be reviewed for PyOpenSci.

My Pandas version is 1.0.3.

The `normalization` notebook fails for the same reason.

[2020-04-29 04:45] rbeucher commented on #31
The `lambdas_dimreduction` notebook also fails. This is all related to the REE_V_radii function.

[2020-04-29 04:48] morganjwilliams commented on #31
Thanks for the info. This is likely to come up a few times for the current master, so I can either put out another release or refer you to develop in the meantime.

[2020-05-01 02:32] morganjwilliams opened #41 "Add Whittaker and Muntus (1970) Ionic Radii"
In addition to the Shannon radii, we could add an option to [`pyrolite.geochem.ind.get_ionic_radii`](https://pyrolite.readthedocs.io/en/develop/api/geochem/ind.html#pyrolite.geochem.ind.get_ionic_radii) to return the Whittaker and Muntus radii, which are likely more suitable for silicate geochemistry.

**Relevant References**

Whittaker, E.J.W., Muntus, R. (1970). Ionic radii for use in geochemist

[2020-05-01 02:48] morganjwilliams opened #42 "Add Tutorial for Formatting Plot Labels, Titles etc"
The documentation doesn't currently have much information about formatting and adjusting plots which are created. While the pyrolite docs shouldn't directly replicate those for matplotlib, there's a good argument for including a tutorial for these aspects of creating plots.

In particular, things like adjusting formatting for ternary diagrams (which uses some [mpltern](https://mpltern.readthedocs.

[2020-05-06 10:23] morganjwilliams commented on #41
This table of radii was added, and the feature branch merged into develop with 9620b817747009c4d4262af41d06f65d7fcb4d92. See the API docs for [pyrolite.geochem.ind.get_ionic_radii](https://pyrolite.readthedocs.io/en/develop/api/geochem/ind.html#pyrolite.geochem.ind.get_ionic_radii) for more info.

I'll soon update the [relevant example](https://pyrolite.readthedocs.io/en/develop/examples/geochem/s

[2020-05-06 10:23] #41 closed

[2020-05-08 10:31] morganjwilliams commented on #42
This tutorial page has now been merged into the feature branch (thanks to @lavender22), and will soon be on develop ready to release for 0.2.6

[2020-05-08 10:31] #42 closed

[2020-06-09 06:00] morganjwilliams opened #44 "Issue with Serialized Paths: TAS Diagram & Classifier"
When executed outside of the environment the classifier files were created in, use of the TAS diagram/classifier (`pyrolite.util.classification.Geochemistry.TAS`) will result in an error (expected to be a NotImplementedError; raised by pathlib upon trying to load an e.g. WindowsPath object on MacOS). Thanks to Philipp Brandl for pointing this one out.

The simplest fix will be to serialize paths a

[2020-06-09 06:33] morganjwilliams commented on #44
OSX was added to the Travis config with 90dd32f48dbfccae21111d7496fb4c3416430700.

[2020-06-09 06:41] morganjwilliams commented on #44
The OSX build is succeeding as of 992598f295bb0eeb08f7ed7ac28cc5c162cbad0f; I'll need to write a test or two to reproduce this and add a bugfix on develop ready for 0.2.8.

[2020-06-16 08:47] morganjwilliams commented on #44
I've revamped pyrolite.util.classification (merged into develop with 35ee2d9dfc5213842ccb72ad0a0911e756f7b083), which now uses a single JSON file for configuration and is overall much simpler. The usage may change slightly with respect to syntax, so I'll check and update the docs accordingly.

[2020-06-16 09:02] morganjwilliams commented on #44
I've updated the relevant docs pages to reflect the changes, so this issue should be considered solved (at least for now; currently tests are passing on OSX).

[2020-06-16 09:02] #44 closed

[2020-07-07 05:34] kaarelmand commented on #38
Just for safekeeping in case I disappear again, here's what I have currently written on the shale/mud reference compositions I added in PR #37 (largely based off of Bau et al., 2018):

[code]

[2020-07-07 05:36] morganjwilliams commented on #38
Thanks @kaarelmand! Will keep you in the loop for this issue.

[2020-07-10 07:34] morganjwilliams commented on #38
I've merged the feature branch for this back into develop after putting together a 'data gallery' similar to the other examples. I've also updated each of the reference compositions to include 'Citaiton', 'DOI' and 'Description' fields so we might be able to automate pulling in some of this information. To make this a bit easier for the next person who wants to pull in another composition I've als

[2020-07-10 15:57] kaarelmand commented on #38
Great, thanks! Should I open a PR to add these descriptions to the refcomp files?

[2020-07-13 01:33] morganjwilliams commented on #38
@kaarelmand if you'd like to, sure. Eventually I'll try and get the citations to interlink/reference the same citation.

[2020-07-15 07:42] morganjwilliams commented on #35
Afternoon @kaarelmand. I ended up adding the REY functionality - check it out on the develop branch and let me know if this is roughly what you were after. It passes basic tests, and follows the ordering from the spider plot you used above. While there isn't a plotting method for this one, you should be able to use `df.pyrochem.REY.pyroplot.spider()` or similar to achieve that plot. If this is up

[2020-07-15 07:43] morganjwilliams commented on #35
For reference, it was added with 9582f1085c30d300156ebca72544338a4c6f5222 (you can check the commit for an overview of additions).

[2020-08-27 02:25] JustinGOSSES commented on #19
This has been built statically so we can close this

[2020-08-27 02:25] #19 closed

[2020-08-31 01:27] morganjwilliams commented on #35
Closing this one, as this seems to have addressed the issue.

[2020-08-31 01:27] #35 closed

[2020-08-31 01:30] morganjwilliams commented on #23
[The page](https://pyrolite.readthedocs.io/en/develop/examples/comp/logtransforms.html) has now been updated to include simple demonstrations of the logratio capability in pyrolite.

[2020-08-31 01:30] #23 closed

[2020-08-31 01:43] morganjwilliams commented on #30
The ability to pass an ordering function was added with 490325f4ba8ea22d8506470d8bf0e6716022e93e, and the function `pyrolite.geochem,ind.by_incompatibility` (based on ratios of element abundances between continental crust and primitive mantle) added with e23c75d2265461e8bda2fb67b0e50c071dec1e78. The [current spider docs example](https://pyrolite.readthedocs.io/en/develop/examples/plotting/spider.h

[2020-08-31 01:43] #30 closed

[2020-08-31 01:55] morganjwilliams commented on #38
[This page is now live on the master version of the docs](https://pyrolite.readthedocs.io/en/master/data/refcomp.html), but the interlinking between descriptions and citations is still something which needs to be worked out in more detail. One idea would be to generate a HTML table in the docs [conf.py](../blob/develop/docs/source/conf.py#L300) and add a mapping to a variable for the full and subs

[2020-08-31 03:04] morganjwilliams commented on #31
Closing this one for now - the pandas indexing issues related to`REE_v_radii` and  `pyrolite.geochem` should now largely be addressed (including in v0.2.8), especially when using the `pyrolite.geochem.pyrochem` and `pyrolite.plot.pyroplot` interfaces which should now not try to select missing columns/reindex to handle missing columns (for pyrochem/pyroplot respectively).

[2020-08-31 03:04] #31 closed

[2020-11-17 07:32] morganjwilliams opened #45 "Add New International Chronostratigraphic Chart"
The International Commission on Stratigraphy recently released [a new version of the chronostratigraphic chart](https://stratigraphy.org/ICSchart/ChronostratChart2020-03.pdf) (see below), and we should incorporate recent [changes](https://stratigraphy.org/ICSchart/ChangeLog2012-2013-2014-2015-2016-2017-2018-2019-2020.txt) in to the timescale [dataset](../blob/master/pyrolite/data/timescale/geotime

[2020-11-20 05:06] morganjwilliams opened #46 "pyrolite.plot.spider - Issues with Hybrid Styling Options"
**Describe the bug**

Spider plots are a combination of line and scatter plots. Currently, there isn't a robust way to specify both line and scatter options via pyrolite.pyroplot.spider (and relevant functions), and conflicts can occur such that it's difficult to color (or style) lines (passed to matplotlib.axes.plot) one way while styling markers (via matplotlib.axes.scatter) in another.

**Expec

[2021-01-11 09:36] morganjwilliams commented on #46
This issue should now largely be solved, `pyrolite.plot.spider` will now accept `line_kw` and `scatter_kw` for keyword arguments which you'd like to explicitly distinguish - enabling finder customization. However this should also be back compatible with old code which should render similarly to before (perhaps without the occasional error). For a quick example, see the [updated docs page](https://

[2021-01-11 09:36] #46 closed

[2021-01-11 09:59] morganjwilliams commented on #46
The [documentation for `pyrolite.plot.pyroplot.spider`](https://pyrolite.readthedocs.io/en/develop/api/plot/pyroplot.html#pyrolite.plot.pyroplot.spider) also now reflects this change so it should be easier to autocomplete.

[2021-01-12 03:07] morganjwilliams commented on #45
I've now updated the chart to reflect changes through March 2020, and this can be closed until a new version of the chart is published.

[2021-01-23 05:35] ThirstyGeo opened #47 "Missing documentation"
**Describe the bug**
ENCOMP impute example missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit [documentation](https://pyrolite.readthedocs.io/_/downloads/en/master/pdf/)
2. Click example for [ENCOMP](https://pyrolite.readthedocs.io/_/downloads/en/master/examples/comp/EMCOMP.html )

[2021-02-12 12:14] mtb-za opened #48 "TAS classifier `predict` requires hardcoded columns in input DataFrame [BUG]"
**Describe the bug**
The `utils.classification.TAS` has a `predict` method, to assign a label from the TAS scheme. This only works if the DataFrame has the specific columns `'SiO2'` and `'Na2O + K2O'` present, giving an error (`"None of [Index(['sio2', 'na2o + k2o'], dtype='object')] are in the [columns]"`) if they are not, or are spelled/capitalised differently. (My dataset has all the oxides in

[2021-02-15 01:41] morganjwilliams commented on #48
Hi @mtb-za, thanks for the bug report!

**TL;DR:** In this case I think the simplest scenario is to just pass a numpy array to `cm.predict`, which in your case would be `cm.predict(df['sio2', 'na2o + k2o'].values)`. This is going to be fairly similar to the alternative you note where the TAS classifier itself handles these names (in content and length), but without any needed change.

The behavior

[2021-02-15 01:52] morganjwilliams commented on #47
Hey @ThirstyGeo, thanks for the bug report! Regarding EMCOMP, the example added back in v.0.1.4 (a page linked to on the changelog, but now missing from the gallery) was removed from the docs a while back - I want to write up some more tests and validate that this works as expected before encouraging folks to use this (as it was translated form MATLAB, which I haven't had that much to do with prev

[2021-02-15 08:36] mtb-za commented on #48
Thanks for the detailed response. I think that both approaches that you outline are a sensible workaround.

The last time that I was doing geochem/pretrology was a while back, so I am not surprised that there are edge cases where case does matter; I was just a little surprised at the rigidity here. The `parse.tochem` is also a nice approach, which I missed on looking through the docs at first.

[2021-02-15 09:13] morganjwilliams commented on #48
No worries! For most of the things in pyrolite, there are at least two ways to go about things. I've tried to make things accept numpy arrays where possible to deal with scenarios where you don't want to deal with the builtin functionality based on dataframes (and the rigidity which sometimes comes with it); in most cases I think the flexibility is useful and makes it a bit more reusable/extensibl

[2021-02-15 12:05] mtb-za commented on #48
Sounds good to me. Thanks for the help. :)

[2021-02-15 12:05] #48 closed

[2021-02-17 14:41] mtb-za opened #49 "Making custom (ternary) `util.classification`"
**Is your feature request related to a problem? Please describe.**
Is it possible to create a ternary classification (such as the USDA's sand/silt/clay, or QAP(F) one)? Looking at the source code, it seems to only have the `x` and `y` axes. Being able to add such classifier polygons to a plot would be quite nice for visualisation, as well as allowing for 'easy' classification of data that is often

[2021-02-18 02:14] morganjwilliams commented on #49
Hey @mtb-za! I think this would be a good feature to add, it's currently not possible off-the-shelf based on what's there at the moment.

There's a little bit of complexity in it, as the current implementation is based on some matplotlib 2D-only components (as you note). To make this possible, there are a few options:

1) re-implement `matplotlib.patches.Polygon` and make a `Polygon` (or even `Ter

[2021-02-23 03:34] #47 closed

[2021-02-27 23:07] gdma1977 opened #50 "[BUG]"
**Describe the bug**
I have imported a panda array of REE + Y data. pyrolite only recognizes Gd and Tb as REEs in the dataframe when using df.head(5).pyrochem.REE, however, all are there in the order La, Ce...Lu, Y. It doesn't seem to make a difference if I add or remove an empty column for Pm. When I plot the spidergram only Gd and Tb are plotted. Any ideas?

[WV REE chondrite.xlsx](https://githu

[2021-03-01 01:39] morganjwilliams commented on #50
Hey @gdma1977, thanks for noting that you managed to sort this one out yourself over on Gitter. Looking at the file, it looks like there are some spaces in the column names, and I can get it to work locally after these are removed. In case anyone else finds an issue like this in the future, the following should sort you out:

[code]

[2021-03-01 01:39] #50 closed

[2021-03-10 07:07] morganjwilliams commented on #34
This issue has now been addressed with e9b96ff2a1b9780b047a190222fcd0d337932282 . You can now add normalized ratios by i) specifying the composition/number to normalize to (e.g. `"Chondrite_PON"`, a tuple of abundances `(2.1, 3.1)`, or a single number), ii) appending `"_n"` to the end of the ratio you request (e.g. `"Mg/Fe_n"` or `"(Mg/Fe)_n"`) or iii) doing both of these things. For example:

[co

[2021-03-10 07:07] #34 closed

[2021-03-31 07:36] morganjwilliams opened #51 "conda Packaging"
While pyrolite has been on PyPI for a while, it'd be good to get a conda-forge recipe together to better support conda-based users.

For reference, there's a [guide on contributing packages](https://conda-forge.org/docs/maintainer/adding_pkgs.html) which might be a handy starting point. It looks like it should be relatively simple to set this up given it's already on PyPI.

[2021-03-31 07:46] morganjwilliams opened #52 "Rename branch to `main`"
A large part of the open software ecosystem, including GitHub, has shifted to using `main` as the name of the principal/stable branch; there's nothing special about the previous standard of  `master`, and the shift to `main` moves towards something both more inclusive and meaningful.

GitHub now [makes this pretty easy](https://github.com/github/renaming), so we should be able to address this one

[2021-04-01 04:15] morganjwilliams opened #53 "CIPW Norm"
pyrolite currently contains a stub for the CIPW Norm ([code](https://github.com/morganjwilliams/pyrolite/blob/master/pyrolite/mineral/normative.py#L141), [docs](https://pyrolite.readthedocs.io/en/master/api/mineral.html?highlight=CIPW#pyrolite.mineral.normative.CIPW_norm)) which should be soon filled out. This is currently being worked on, and should be out for v0.3.1.

I've created a feature bran

[2021-04-07 15:33] ChetanNathwani commented on #53
Hi @morganjwilliams and pyrolite team,

I have had a stab at this. This follows the Verma et al. (2003) CIPW norm, using only major elements for now. I have had a go at testing this - Verma has a software package called IgRoCs which calculates his norm. His software has a test dataset, which we can use to compare the outputs from IgRoCs and pyrolite. These tests show a good performance for most mi

[2021-04-11 23:34] morganjwilliams commented on #53
@ChetanNathwani looks good, will follow up shortly. Feel free to make a pull request onto the [CIPW norm branch](https://github.com/morganjwilliams/pyrolite/tree/feature/CIPWNorm) if you're happy to put a development version out there - otherwise I'll catch up with you via other channels.

[2021-04-25 21:44] eazzzon commented on #51
Hi Morgan,

Creating a conda-forge recipe for pyrolite is quite simple as it's already on PyPI. I have created the recipe and would like to know how I could contribute to this part? From what I understand maybe it's better that the orginal maintainer not contributor open a PR in [conda-forge's page](https://github.com/conda-forge/staged-recipes)?

[2021-04-27 02:00] morganjwilliams commented on #51
Hi @eazzzon! I'm happy to add the PR to conda-forge, and it looks like for any PyPI version updates it should automatically get updated there, which is handy. Given how the conda-forge system is set up it doesn't seem to make much sense to add it directly to the pyrolite repo, but you could add it as a code block here if that suits - otherwise I've created a fork of `staged-recipies` and will add

[2021-04-27 10:37] eazzzon commented on #51
Hi, I added the recipe here, hope that works. and maybe you could add other contributors in the recipe maintainers?

[meta.yaml.zip](https://github.com/morganjwilliams/pyrolite/files/6383845/meta.yaml.zip)

[2021-04-27 11:46] morganjwilliams commented on #51
Thanks @eazzzon! Will have a look at sorting it out tomorrow.

[2021-04-28 01:59] morganjwilliams commented on #51
I've now added a PR to [`staged-recipies`](https://github.com/conda-forge/staged-recipes/pull/14748); @eazzzon if you could comment in that thread that you're also happy to be a maintainer that'd be great!

[2021-04-30 20:41] eazzzon commented on #51
maybe try this one, I guess the issue raised with ```noarch python```, which pyrolite isn't pure python (```python >= 3.6```). I commented ```noarch python``` in the recipe. hope this works
[meta.yaml.zip](https://github.com/morganjwilliams/pyrolite/files/6407962/meta.yaml.zip)

[2021-05-03 01:28] morganjwilliams commented on #51
Thanks @eazzzon, I'll give it a spin.

[2021-05-03 04:52] morganjwilliams commented on #51
I've removed the explicit dependency for `pathlib` on `develop`, so with luck this should be possible _after_  this is merged during the release of 0.3.1; I've updated the tag to have this done by 0.3.2.

[2021-05-04 12:07] bomtuckle commented on #53
Hey @ChetanNathwani,

I have also been working on some code to calculate norms, also based on Verma. I got in touch with @morganjwilliams a while ago and he said you were working on it, but I continued my work as I wanted to get it done anyway. I can appreciate your struggles with squishing the bugs on this!

My code _seems_ to be working, though I haven't compared it to IgRoCs output as you have.

[2021-05-04 21:15] ChetanNathwani commented on #53
Hi @bomtuckle,

Awesome to hear it. Yes - a good idea to merge our efforts.

I am not able to post the code on here, I think it has to be a pull request but not sure if I am doing it correctly (I am new to Git). Perhaps we can organise a call to catch up on this with @morganjwilliams to define a plan of action?

The Fe correction is being dealt with using the old school approach of Le Bas. We coul

[2021-05-05 01:28] morganjwilliams commented on #53
Hi @ChetanNathwani and @bomtuckle!

Just a quick note that the pull request isn't explicitly required (it's kind of nice from a development perspective and means your username will pop up as a contributor to the repository, but otherwise is a formality) and if it's a bit confusing we can just add code snippets here and go that way. Happy to catch up in the coming week or so, and I can go through t

[2021-05-05 08:54] bomtuckle commented on #53
Hey both,
Would be good to talk to both of you about about all this. Im a bit tied up next week, but could squeeze something on Monday morning from 10 (uk time) or Tuesday morning.

[2021-05-05 11:33] bomtuckle commented on #53
Sorry, didnt read this properly. I might be able to do Friday morning if need be

[2021-05-06 01:43] morganjwilliams commented on #53
@ChetanNathwani @bomtuckle - I'll connect with you both over email and sort out a time to catch up.

[2021-05-20 01:56] morganjwilliams opened #55 "Incorrect autoscaling for Spider Plots"
Since v0.3.0 standard spider plots have been poorly autoscaled, likely due to one or two changes to the internal mechanics of how these have been added to `matplotlib` axes. On `master` for v0.3.0, the default spider plot has a large amount of empty space due to this bug:

![sphx_glr_spider_001 1](https://user-images.githubusercontent.com/11415019/118907039-6b61e780-b951-11eb-866a-16e177a0be72.png

[2021-06-02 05:22] morganjwilliams commented on #53
@ChetanNathwani @bomtuckle I've merged Chetan's norm into the pyrolite feature branch and pushed a few updates, including some simple unit tests which check that it runs on a dataframe and some of the logging output works. There are some variable name changes in dbe252b02436de9ad2b5c38abb14f5da2b7ad739 which are worth checking, and otherwise a little reorganisation here and there for readability a

[2021-06-02 05:23] morganjwilliams commented on #53
I think the Middlemost/Le Maitre Fe correction should be able to be done in a vectorised way so will see if I can do that today also.

[2021-06-15 08:53] bomtuckle commented on #53
Hey @morganjwilliams.

Sorry ive been a bit busy over the past month and havnt been too active here. I have been working on code for my own project and have writtent my own Fe Correction function that is vectorised. I have put it on the norms feature branch if you want to look. I have seprated it out as there are some arguments that need to be specified and maybe it could get a bit long winded if

[2021-06-16 05:13] morganjwilliams commented on #53
@bomtuckle no worries, I suspect it's similarly busy for everyone this time of year! I'll take a look at the Fe correction and if it fits perhaps ask you to pull it across.

As for the TAS-based corrections, that should be easy enough to do with the pyrolite TAS classifier; I haven't looked at this yet but once I've finished the once-over looking for potential bugs in the current CIPW Norm I'll ge

[2021-06-16 08:49] morganjwilliams commented on #53
@ChetanNathwani I've been able to verify a few things here, but like your original calculations I get a bit of a mess comparing Verma's results to mine on the output end. The 'adjusted' values in the Verma test data correspond nicely to the adjusted Wt% compositions before the norm, so at least the prep and iron correction work as expected there.

I've fixed a few errors here and there (mainly int

[2021-06-17 17:03] ChetanNathwani commented on #53
@morganjwilliams Yes - so seems like we are having the same issues. Hmm... I wonder whether there could be something different that the IgRocs programme is working off - perhaps the method changed since the paper published or maybe there are errors we are unaware of... What do you think best to do next? I've spent many hours trying to debug and not sure what to do next (I assume you've already don

[2021-06-18 05:06] morganjwilliams commented on #53
Hi @ChetanNathwani! There certainly might be a few errors in the mix, or just differences we don't know about. I can spend a bit more time looking at it, but otherwise we can look to round off a few things and test what we can. I can leave a warning on the function until we're happy with it (e.g. for v0.3.1, aiming to clean things up for v0.3.2/the next version), but if we finish the core aspects

[2021-06-21 08:10] ChetanNathwani commented on #53
Ok sounds good @morganjwilliams! It will be good to also see whether @bomtuckle's code is able to avoid any of the same issues that seem to be present in this code, or whether they seem to be unavoidable! Sorry have been bit busy recently, but do let me know where I can chip in.

[2021-06-21 08:46] morganjwilliams commented on #53
Hey @ChetanNathwani, no worries, we're all a bit the same, and you've already put a lot of work into this one! I'll look to merge this across to `develop` after adding a warning to the function; from there I'll try and round of a few things around tests and maybe a docs example page (with a similar warning) before giving @bomtuckle a chance to make a PR and merge in some changes (if he has time to

[2021-06-21 12:06] bomtuckle commented on #53
Hey @ChetanNathwani @morganjwilliams ,

I have got round to comparing my norms with the code currently in the pyrolite feature branch and I _think_ my results are showing a better fit to the output from IgRocs:

![image](https://user-images.githubusercontent.com/7592322/122758128-5948d100-d290-11eb-9559-8fcfb7206414.png)
![image](https://user-images.githubusercontent.com/7592322/122758192-6bc30a80

[2021-06-24 08:07] morganjwilliams commented on #53
Hey @bomtuckle and @ChetanNathwani - just a heads up that I've merged the CIPW branch into develop. I won't have time to round this off this week (a few things to finish for Goldschmidt...), but will look at it again next week.

@bomtuckle - it looks like you have things fairly close there, feel free to add a pull request to `develop` if you'd like to integrate some/all of it and I'll take a look

[2021-06-28 04:58] morganjwilliams commented on #49
Hey @mtb-za! I've added an implementation for these ternary classification diagrams and added the USDA soil texture classification as an example. There's an issue with the docs builds at the moment but will also look to add an example diagram there for this, and think about adding a few more (e.g. QAP, potentially with a second upside-down axis for AFP..).

[2021-06-28 09:03] mtb-za commented on #49
Sounds really promising! I am happy to add a couple of standard examples (QAP, AFP, maybe the USDA soil plot although that is not geochemical so let me know if you would rather not have it) to the docs once I know how the basics works. Is it pretty much the same process as for the 2D case?

[2021-06-28 09:15] morganjwilliams commented on #49
I added the USDA soil one as an example on `develop` - you can check out the config file [here](https://github.com/morganjwilliams/pyrolite/blob/develop/pyrolite/data/models/USDASoilTexture/config.json) or the classifier [here](https://github.com/morganjwilliams/pyrolite/blob/develop/pyrolite/util/classification.py#L370) (note how it's much less work than TAS!), but it's basically the same as the

[2021-07-05 07:54] morganjwilliams commented on #49
@mtb-za I've addressed the build problem with the docs for now; let me know if you'd like to add some classifiers and/or examples before I release v0.3.1.

[2021-07-05 08:03] #55 closed

[2021-07-05 08:13] morganjwilliams commented on #52
I've now renamed the `master` branch to `main` and updated one reference to `master` in the docs (on `develop` until v0.3.1 is released).

[2021-07-05 08:13] #52 closed

[2021-07-07 16:05] mtb-za commented on #49
Just noticed that you already implemented the USDA one. 😅

It looks like it is much less work because you are not adding the fields to the plot? The `add_to_axes()` method is the bulk of the TAS code.

Thanks for this though, I am sure that it will be very useful.

I think it is worth adding the QAP ones (both for volcanic and plutonic rocks). I will look at doing a PR with those tomorrow.

[2021-07-08 13:47] mtb-za commented on #49
Been working on this, and I have a possible concern that should not hold up getting the functionality released if you are close, because it might be a pain to fix properly.

The QAP diagram has both the left and right sides of the triangle going up to 100 at the top. This is not a standard ternary plot though.

cf, amongst many examples: ![](https://upload.wikimedia.org/wikipedia/commons/thumb/7/7

[2021-07-13 05:11] morganjwilliams commented on #49
Hey @mtb-za! The notation for the QAP plot is nonstandard and likely arranged this way to some degree because of the common QAPF format, but doesn't affect the actual mineralogical compositions - so overall it should be fine. The main thing to watch out for is that the lines projecting from the quartz axis represent plag/alkali-feldspar ratios, and aren't constant proportions of either - so the li

[2021-07-21 13:08] mtb-za commented on #49
Whoops! Not sure how I did _that_....

I am taking a look at the other stuff now. Certainly more complex than I anticipated, but I think that I have the hang of it now.

Do you have a preference for how to handle the granite/syenogranite/monzogranite field? I assume (but have yet to test) that fields can not overlap, but syenogranite and monzogranite combine to be the granite area.

[2021-07-22 01:57] morganjwilliams commented on #49
Thanks for starting a PR - I'll add some comments over there.

For the granite/syenogranite/monzogranite field, you're correct that it won't work as expected if you have them all individually (I think if granite is listed last, nothing would get classified as granite..). There's a few options for dealing with it - from only including the more specific terms through to doing something like TAS with

[2021-08-06 03:25] #49 closed

[2021-08-27 22:15] antoine-gs opened #61 "[BUG]"
EDIT: pip maintainers actually discourage installing system wise with sudo pip

(great package by the way!)
When installing system-wise with pip, geochemdb.json is installed as read-only for non-root users (rw-r--r--) which generates an error message when importing the library:
PermissionError: [Errno 13] Permission denied: '/usr/lib/python3.9/site-packages/pyrolite/data/geochem/geochemdb.json'

T

[2021-08-30 01:55] morganjwilliams commented on #61
Hey @antoine-gs, thanks for the heads up, I'll have a look into this. At this moment I'm not too sure how to manage the permissions for default `pip` installs from my side (other than providing specific documentation around user/system level installation etc), but will do a bit of research to see if I can provide a solution.

[2021-08-30 02:05] morganjwilliams commented on #53
Thanks! I'll do a bit more digging and see what I can figure out, I'll also add the free components to the return value somewhere. I'll look to see if there's any blatant correlation or commonality for the compositions with magnetite norms which lie off the trend.

[2021-08-30 06:19] morganjwilliams commented on #53
In our test dataset, there's only a few analyses with F present - and I suspect each of the two groups of analyses have different units (one ppm, one wt% - the same issue for Cl also, I think both should be ppm). Regardless it seems that in both cases there is no normative fluorite calculated, which seems a bit strange. I wonder if it could be due to the inclusion of string values (`'n.a.') in thi

[2021-08-30 15:22] antoine-gs commented on #61
Yes, I put it here as reference for anyone running into the problem more than anything. Will let you know if I find something too!

[2021-09-03 13:14] antoine-gs commented on #61
Turns out that it is officially not recommended to install system-wise with pip, so I would consider the issue closed

[2021-09-06 15:59] ChetanNathwani commented on #53
Sorry just catching up. I am a little out the loop but I am not sure for F. I agree it looks like there's two different units present. I wondered if maybe the F and Cl are being used for apatite but I imagine this isn't always the case? I agree that magnetite is likely related to an Fe conversion issue.

[2021-09-06 20:53] #61 closed

[2021-09-07 01:28] morganjwilliams commented on #61
Thanks @antoine-gs. I'll modify/add a note in the installation instructions around using `pip install --user`, as this is the better practice for *nix/MacOS systems; for windows perhaps less frequently required.

[2021-09-09 02:56] morganjwilliams commented on #53
Thanks @ChetanNathwani - I might look to modify the test dataset and make sure all of F and Cl data are in ppm as per Verma's paper, if that sounds reasonable? For the Fe-conversion issue, perhaps we can debug this further after merging. Speaking of merging - I have a draft docs page which shows some aspects of the CIPW Norm but will get your input into what you'd like to see there after it's merg

[2021-09-09 04:21] morganjwilliams commented on #61
Confirming that suggestion for the `--user` flag has now been added to the development branch [installation page](https://pyrolite.readthedocs.io/en/develop/installation.html). After the next version there should be a `conda` installation option available which will address some issues here too (#51).

[2021-09-09 04:54] morganjwilliams commented on #53
I've updated the units for those specific elements and removed the `n.a.` null/missing values. If you get a chance to re-run this and check the SINCLAS output let me know and we can re-integrate that output to see how it'll affect the comparison.

[2021-09-10 08:23] ChetanNathwani commented on #53
Hi Morgan, happy to do this. I am probably being a bit stupid here, but where exactly can I find the revised test dataset? There is probably some button on this page I cannot find.

[2021-09-13 02:51] morganjwilliams commented on #53
I added a [subfolder for 'testing' datasets](https://github.com/morganjwilliams/pyrolite/tree/feature/CIPWNorm/pyrolite/data/testing) on the CIPW Norm branch, as I suspect there might be a few more in the future, you can find it there. I also updated the encoding to UTF8 to solve a few testing headaches - but let me know if this causes issues.

[2021-09-13 09:38] ChetanNathwani commented on #53
I've run this through SINCLAS, and uploaded the results to my forked pyrolite branch. I don't see any obvious differences between the outputs, nothing for fluorite and magnetite I can see. This makes me think there is definitely a difference with the Fe conversion somewhere...

[2021-10-12 17:38] alessandro-gentilini opened #62 "[BUG] broken links in https://github.com/morganjwilliams/pyrolite/blob/main/README.md"
**Describe the bug**
In https://github.com/morganjwilliams/pyrolite/blob/main/README.md there are some broken links to pytolite.readthdocs.io

[2021-10-13 11:45] #62 closed, assigned to morganjwilliams

[2021-10-21 10:48] ChetanNathwani commented on #53
Nice work!

[2021-10-28 02:22] morganjwilliams opened #65 "Update documentation and examples for density and contour plots"
The assumptions involved in the implementation of density/heatmap plots in pyrolite are not immediately clear, and some of the options for generating these plots aren't extensively documented/demonstrated.

Some changes which could partially address this:
* Make it clear that by default contours are generated from a kernel density estimate - so that assumptions around e.g. 95% of points lying with

[2021-10-28 08:16] #65 closed, assigned to morganjwilliams

[2021-11-04 17:24] PennyWieser opened #66 "Docs: Outdated `latest` version persists on RTD (Problem loading pyrolite.plot.tern cannot import name 'ABC_to_xy')"
I'm using pyrolite 0.3.0 and matplotlib v'3.4.1'

I'm following the ternary plot example,  when I run this cell:

import pyrolite
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pyrolite.plot.tern import ternary

I get the error:
----> 5 from pyrolite.plot.tern import ternary

~\anaconda3\lib\site-packages\pyrolite\plot\tern.py in <module>
      3 import ternary as pyte

[2021-11-04 22:55] morganjwilliams commented on #66
Hey @PennyWieser - I'll have a look at this one later today and get back to you, it could definitely be a bug.

[2021-11-05 04:15] morganjwilliams commented on #66
Hey Penny, can you confirm you're using 0.3.0, and which example you're going off? `pyrolite.plot.tern` was removed in [v0.2.4](https://github.com/morganjwilliams/pyrolite/releases/tag/0.2.4). I found an old mention of `pyrolite.plot.tern` in the docs examples description (this is an error) but otherwise can't find where you might be seeing it in current docs.

[2021-11-05 04:22] PennyWieser commented on #66
I was following this one:
![image](https://user-images.githubusercontent.com/65668673/140457796-66dfb304-c89a-4145-a8c2-a2180c17a4a3.png)
The first loading sell (maybe thats the error you mention)
Defo on 0.3.0

[2021-11-05 04:28] morganjwilliams commented on #66
Ah - I see the issue! I swapped the docs versions being built a long time ago. `latest` still exists but hasn't been built since 0.0.17 - and I'll need to make sure I turn it off. [pyrolite.rtfd.io](pyrolite.rtfd.io) should by default take you to the latest stable ('main') version, and if you're curious about recent changes, check out the [develop version](https://pyrolite.readthedocs.io/en/develo

[2021-11-05 04:43] morganjwilliams commented on #66
@PennyWieser - in the meantime, please have a look at the [current ternary example](https://pyrolite.readthedocs.io/en/main/examples/plotting/ternary.html), and let me know if that still gives you issues.

[2021-11-05 04:53] PennyWieser commented on #66
My bad sorry this was the first page that came up when I googled ternary plot python!

[2021-11-05 04:55] morganjwilliams commented on #66
The google part is my bad; I thought latest had disappeared into the ether!

[2021-11-10 03:11] morganjwilliams opened #67 "Feature: Data contours from histogram data"
Currently contours are only generated by `pyroplot.density` where `mode="density"`, which uses kernel density estimates to then generate the contours; an error will now result if contours are requested for other modes (largely the topic of #65). These could also be generated from histogram data, although would be much more susceptible to noise in the data.

A few rearrangements would allow the gen

[2021-12-02 02:14] morganjwilliams commented on #66
With the release of 0.3.1 and the odd change in the readthedocs configuration, this should now be solved. [pyrolite.readthedocs.io/en/latest/](https://pyrolite.readthedocs.io/en/latest/) should now give a HTTP 404 error - which defaults to 'Maze Found' on RTD.

[2021-12-02 02:14] #66 closed

[2022-01-20 12:09] bomtuckle commented on #53
Hi @ChetanNathwani and @morganjwilliams,

Apologies for going quiet for so long. I'm still intending on putting together that paper so I thought I would revisit this issue with the discrepancy in the results.

To simplify the situation, for my testing I converted all of the Fe in the test dataset to Fe2O3T and changed all the rocktypes to 'volcanic' (I assume the igrocs changes the correction base

[2022-01-24 02:04] morganjwilliams commented on #53
Hey @bomtuckle - happy new year! I dug a bit into the `pyrolite.geochem` side of things late last year to check whether there might be a problem deeper there but nothing obvious. The rounding would be a good one to rule out. For the mineral norms - could be something going on in the provisional allocation etc - might be worth having another look through these lines. https://github.com/morganjwilli

[2022-03-02 12:12] bomtuckle commented on #53
Hey @morganjwilliams and @ChetanNathwani

I _think_ I have sorted out all the errors, and the cause isn't what I initially thought.

Turns out the Fe correction was working fine. The issue was actually in the correction of the masses. I couldn't work out what was going wrong with it so went back to my original version of it, which is a bit ugly and verbose, but it works. The results are now spot o

[2022-03-03 03:18] morganjwilliams commented on #51
`pyrolite` is now on `conda-forge`, with the feedstock here: https://github.com/conda-forge/pyrolite-feedstock

[2022-03-03 03:18] #51 closed

[2022-03-03 03:19] morganjwilliams commented on #53
Hey @bomtuckle, nice sleuthing! Not particularly fussed about the formatting, having a reconcilable output is definitely a better outcome. Feel free to open a PR onto `develop` with the substitutions and we can get it merged there; if there's some minor formatting cleanup etc to do I'll look to do so on `develop` before the next release (there's a few bugfixes which need to go out anyway, so with

[2022-03-03 12:01] bomtuckle commented on #53
Cheers Morgan. I made my changes on the CIPWnorm branch which had some differences to the most up to date `develop`. I redid my changes on `develop `(which was a little different to my `CIPWnorm`) and in the process of trying to merge the two, something went wrong and it wasn't calculating accurately again. Couldn't for the life of me work out what I had done, so rather than trying to merge the tw

[2022-03-09 04:05] morganjwilliams commented on #53
Hey @bomtuckle! [The outputs look much cleaner now](https://pyrolite.readthedocs.io/en/develop/examples/geochem/CIPW.html#coherency-with-sinclas-igrocs), many thanks!

I've updated some of the pandas code and some of the hardcoded mass values to make it straightforward to read through, with no obvious differences incurred in the outputs. I think I know where some of the discrepancy came in through

[2022-03-09 13:56] bomtuckle commented on #53
Excellent!

Results are looking good, though a couple of samples are coming out a little different, and I think that's due to IgRoCs using the 'plutonic' le maitre correction rather than volcanic for some samples. Not sure if it's worth editing the test data set to only include the volcanic samples, as otherwise it makes it look like there is a discrepancy when there isn't?

At some point, I think

[2022-03-10 03:57] morganjwilliams commented on #53
Regarding the last point - sorry for that oversight, should be fixed now! I should add guidelines for PRs which have a note to add your name there, I usually only revisit it before releases etc.

For the Middlemost Fe correction - if you have time to write up the issue with a reference and any notes around what might be required (unless the time to write the function is less than writing the issue

[2022-03-10 10:45] bomtuckle commented on #53
I did wonder if it was for me to add myself to the list, but I didnt want to presume!

I'll submit a new issue for the Middlemost correction - shouldn't take long.

I think your suggestion to filter for volcanics is good. I think it could be nice to also then filter for plutonic samples so it proves consistency for both corrections.

[2022-03-27 03:53] morganjwilliams opened #70 "Docs Update: Deprecated Development Install Method"
GitHub has [deprecated using unsecured git protocols](https://github.blog/2021-09-01-improving-git-protocol-security-github/), meaning that you can no longer use e.g. `pip install git+git://...`.

The development installation instructions should be updated accordingly, to use the `https://` equivalents, i.e.:

`pip install -e git+https://github.com/morganjwilliams/pyrolite.git@develop#egg=pyrolite

[2022-03-27 13:58] tectoni opened #71 "[BUG] Warnings after import pyrolite.plot"
**Describe the bug**
Numerous warnings appear at 'import pyrolite.plot'

**To Reproduce**
Steps to reproduce the behavior: -> see output below

**Expected behavior**
import without warnings

**Environment:**
 - OS: macOS 11.6.1
 - Python Version 3.9.12 (and the same with 3.8)
 - Pyrolite Version 0.3..1 installed with pip in the environment

**Additional Context**
Python 3.9.12 | packaged by conda-

[2022-03-28 11:02] bomtuckle opened #72 "Fe oxidation ratio calculation based on Middlemost (1989) [Feature]"
**Is your feature request related to a problem? Please describe.**
The normative calculation currently implements the Le Maitre method of calculating Fe oxidation ratios. Another method is the by classification of the sample on a TAS diagram and then using a set of standard ratios per classification.

**Describe the solution you'd like**
Add in a function within the current normative function, tha

[2022-03-28 11:03] tectoni commented on #71
Could not reproduce issue on another machine, all ok there. Must be a problem of the local conda setup.

[2022-03-29 06:19] morganjwilliams commented on #71
Hey @tectoni, thanks for the report - this is a bug which propagated after some updates in `numpy`/`numpydoc` (so will depend on respective verisons of that), partly due to how docstrings are modified in `pyrolite` - should be fixed on `develop` and out in the next release.

[2022-03-31 14:23] morganjwilliams commented on #72
@bomtuckle I've added a draft correction for the Middlemost Fe-correction based on TAS [here](https://github.com/morganjwilliams/pyrolite/blob/04d4bb4f113473d3095e2c096174d57b0f21c229/pyrolite/mineral/normative.py#L204-L352) but haven't tested it just yet. If you have a few minutes to look over it that'd be handy. I've added a note on the docs page too, as well as split the volcanic/non-volcanic s

[2022-03-31 15:19] tectoni opened #73 "Example code using all_reference_compositions() may fail"
[Example code from the pyrolite documentation website](https://pyrolite.readthedocs.io/en/main/examples/geochem/normalization.html#normalization) using the method `all_reference_compositions() `failed with Error:

[code]
A suggested solution to the issue could be to explicitly give the name of the default table. Replace line 158 in ` __init__.py`  by
`for r in db.table("_default"):`

**Environment

[2022-03-31 15:45] morganjwilliams commented on #73
Hey @tectoni! The file `pyrolite/geochem/norm/__init__.py` hasn't existed since pyrolite `v0.2.3`; I suspect you have an outdated installation of `pyrolite`, but a newer version of `tinydb` (which is what `pyrolite` is using to keep a table of reference compositions) - and that's where the conflict pops up. For the moment all looks OK in the test suites.

Perhaps try a reinstall/update of pyrolite

[2022-03-31 16:28] tectoni commented on #73
Hi @morganjwilliams! Thanks for the quick answer! It seems to be still included in pip. I did
[code]
and pip tells me:
`Successfully installed pyrolite-0.3.1`

I checked everything and it is still in the new installed 0.3.1. I will replace it with the latest version on github. cheers peter

[2022-04-01 03:11] morganjwilliams commented on #72
MWE for accessing the Middlemost correction, and using it in the CIPW Norm:

[code]

[2022-04-06 16:26] bomtuckle commented on #72
Thanks @morganjwilliams . I've had a quick look and seems fine to me, and it runs ok. I will try and do a comparison with the output of IgRoCs to confirm the output.

[2022-04-07 01:48] morganjwilliams commented on #72
@bomtuckle that'd be great! If things look OK after that, it'll be time for v0.3.2!

[2022-04-11 14:47] bomtuckle commented on #72
@morganjwilliams unfortunately I don't think it is working correctly. The adjusted Fe values are quite different from those out of igrocs. I think it actually looks like the FeO and Fe2O3 values are reversed, but not sure looking at your code at what point this has happened.

[2022-04-13 01:49] morganjwilliams commented on #72
OK, good! If you spy some samples that are particularly bad let me know their compositions/TAS classification and I'll debug a bit. The TAS diagram in Middlemost's paper is slightly different to the one I'm using by default in pyrolite, but most things transfer over fine. The main complication is for a few low-SiO2 fields which have additional boundaries, some fields in the TAS diagram which are s

[2022-06-14 17:24] seignovert commented on #71
Hi @tectoni and @morganjwilliams,

I'm facing the same issue on a brand new conda install (with python 3.9.13 on macOS).
Could you provide some guidance regarding the proper `numpy` and `numpydoc` version to use with this package to avoid all these warnings?

Thanks!

[2022-06-16 02:42] morganjwilliams commented on #71
Hey @seignovert, thanks for the report; I'll see if I can replicate (although not on MacOS) and debug some more before I get back to you.

[2022-06-16 03:15] morganjwilliams commented on #71
I don't currently see the issue on Windows (Python 3.9.13, `pyrolite` v0.3.1+dev, `numpydoc` v1.4.0), but will debug more on Linux which should be closer to MacOS (so far on Linux I don't see it with Python 3.7.12, `pyrolite` v0.3.1+dev, `numpydoc` v1.2.1 but need to check Python 3.9 and corresponding `numpydoc` there).

[2022-06-16 08:49] seignovert commented on #71
@morganjwilliams Here are the details on my side.
- `python` 3.9.13
- `pyrolite` 0.3.1
- `numpy` 1.22.4
- `numpydoc` 1.4.0

I was able to replicate this issue on an other macOS system and on a Linux system too (Fedora 8.5):
[code]
[code]

[2022-06-16 09:10] morganjwilliams commented on #71
Thanks @seignovert! Note that installing the current release as in your snippet would indeed be expected to have this behavior; using the `develop` branch via git should avoid it (`pip install git+https://github.com/morganjwilliams/pyrolite.git@develop#egg=pyrolite`) - but the fixes still haven't been released. Can you clarify whether your `pyrolite` version shows a full version (i.e. `0.3.1`), or

[2022-06-16 10:38] tectoni commented on #71
I was facing the same problems, but later could not reproduce the issue on another mac with a similar setup. I removed my Anaconda install completely an re-installed and the issue was gone.

[2022-06-16 13:16] seignovert commented on #71
Ok. I recreated a new conda env and install the `develop` version with `pip` this time (I used `git` in my previous test) and now it works:
[code]
Only the `scikit-learn` warning is still present but that's not the focus of this issue.
[code]

It might be nice to push a 0.3.2 patch with dev branch maybe?

Anyway, thanks for the quick support! 👏

[2022-06-17 02:46] morganjwilliams commented on #71
Yeah, there are a few plot helpers which use `sklearn`, so that last warning is to be expected if you don't have it (shouldn't affect your use day-to-day for the most part). Apologies for the delay on 0.3.2, there were a few things lined up for the release but they didn't happen as planned. I'll see if I can wrap up some things for next week 🤞 and defer the planned features for now.

[2022-07-03 06:44] Elphick opened #75 "Remove sphinx dependency"
It seems that sphinx has been included as a package dependency.

The dependency list would be reduced if sphinx was added as a dev dependency, minimising the dependency footprint.

[2022-07-05 05:03] morganjwilliams commented on #75
Hey @Elphick, thanks for the heads up! I'll take a quick look that I'm not using any of the `sphinx` internals and if not it should indeed be a dev-only dependency.

[2022-07-05 05:09] morganjwilliams commented on #75
@Elphick  having a quick look at this one, `sphinx` isn't a direct dependency, but `numpydoc` is, which in turn has a direct dependency on `sphinx`.

In `pyrolite`, `numpydoc` is used for for parsing and inserting references into a range of docstrings (to e.g. citations and DOIs, and other docstrings). For now I'll leave it as is - but in the future some of these aspects might deserve a bit of a r

[2022-07-05 05:09] #75 closed

[2022-07-06 08:29] morganjwilliams commented on #71
@tectoni @seignovert this one should be fixed now v0.3.2 is out, apologies it took a bit of time to get around to!

[2022-07-06 08:29] #71 closed

[2022-07-06 08:30] #70 closed

[2022-07-06 11:51] aReaSa commented on #73
+1
It is not happening whatever I tried. Can someone help me out, too? @morganjwilliams @tectoni
<img width="527" alt="Adsız" src="https://user-images.githubusercontent.com/26048237/177543656-ea079317-aebf-4250-90d7-f18c81e33743.png">

[2022-07-06 14:57] Elphick commented on #75
No worries, thanks for the time to take a look.

[2022-07-07 02:06] morganjwilliams commented on #73
Hey @aReaSa, can you confirm what version of `pyrolite` you have installed? Note that newer versions aren't expected to work with Python 3.5 (current supported/tested versions are 3.7-3.9, 3.10 won't be far off and I'd expect minimal to no problems there). What I suspect may be happening is that you're getting the last `pyrolite` version which explicitly supported these versions of Python (likely

[2022-07-07 02:38] morganjwilliams commented on #73
Can confirm that at least the latest `pyrolite` (v0.3.2) should run fine on Python 3.10 ([passing test suite here](https://github.com/morganjwilliams/pyrolite/runs/7226005443?check_suite_focus=true)).

[2022-07-08 03:03] morganjwilliams commented on #73
@aReaSa other things that could be interfering include having multiple versions of Python (common on Linux, Mac, sometimes occurs on Windows depending on how you install things), and for operations from terminals in Windows sometimes you'll need to close the terminal, start another and run from there.

`pip --version` should point you to both the version of `pip` *and* the location of `pip` using

[2022-07-08 14:05] aReaSa commented on #73
I have fixed by replacing line 158 in __init__.py the

[code]

To

[code]

I don't know how I made it but it worked.

 @morganjwilliams for your information

[2022-11-22 17:31] sarahshi opened #77 "Creating additional TAS diagram classification options"
The current TAS diagram option utilizes the Middlemost, 1994 characterization. Additional classifications with the Le Maitre or Le Bas variants of the TAS diagram may provide useful options.

[2022-11-22 17:35] sarahshi opened #78 "Ternary Diagram ValueError"
The ternary diagram plotter -- for QAP ternaries and oxide ternaries -- is currently returning the error:
ValueError: list.remove(x): x not in list
when run with versions of matplotlib > 3.6. It appears related to the mpltern package currently used.